root = true

[*]
indent_size = 4
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.kt]
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_function-signature = disabled

[**/build/generated/**]
ktlint = disabled
